header {
    height: 180px;
    width: 100%;
    background: url(./images/banner.jpg);
}

.headerContent {
    position: relative;
    width: 100%;
    padding-top: 30px;
}


.avatar {
    width: 82px;
    height: 82px;
    border-radius: 50%;
}

.branding {
    margin-top: 10px;
}

.branding h1 {
    color: white;
    font-size: 20px;
}