.hide {
    display: none;
}

.mask {
    width: 1920px;
    height: 1080px;
    position: fixed;
    left: 0;
    top: 0;
}

.searchForm {
    margin: 1.25em auto 2.25em;
    position: relative;
}

.searchKey[type="search"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 75%;
    height: 32px;
    padding: 7px 11px 7px 7px;
    border-radius: 4px 0 0 4px;
    border: 1px solid #ebebeb;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.searchKey[type="search"]:focus {
    border: 1px solid #e67e22;
    outline: none;
}

.resultWrapper {
    position: absolute;
    top: 150%;
    left: -15%;
    width: 130%;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-shadow: 1px 2px 2px #cccccc;
    padding: 20px;
    z-index: 6;
}

.resultWrapper::before, .resultWrapper::after {
    content: "";
    border-width: 0 12px 12px;
    border-style: solid;
    position: absolute;
    border-color: #cccccc transparent;
    top: -12px;
    left: 75%;
}

.resultWrapper::after {
    border-color: #ffffff transparent;
    top: -10px;
}

.searchButton {
    vertical-align: top;
    width: 25%;
}

.searchItem {
    border-bottom: 1px solid #cccccc;
}

.searchItem:last-child {
    border: none;
}

.searchItem a:hover {
    color: #505050;
}

.searchItem .title, .searchItem .content {
    line-height: 2.5em;
}

.searchItem .title:hover {
    color: #e67e22;
}