body {
    text-align: center; 
    font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
    background: #ebebeb; 
    font-size:14px; 
    color:#505050;
}
div,form,img,ul,ol,li,dl,dt,dd {margin: 0; padding: 0; border: 0; }
li{list-style-type:none;}
img{vertical-align:top;}
h1,h2,h3,h4,h5,h6 { margin:0; padding:0;font-size:12px; font-weight:normal;}
/* Link */
a {
    outline: 0;
    color: #505050;
    line-height: 4em;
    display: block;
}
a:hover {color: #e67e22; text-decoration:none;}