@import '~antd/dist/antd.css';

body {
    text-align: center; 
    font-family:"Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei","Microsoft YaHei UI","Microsoft YaHei",sans-serif;
    background: #ebebeb; 
    font-size:14px; 
    color:#505050;
}
/* Link */
a {
    outline: 0;
    color: #505050;
    line-height: 2.25em;
}
a:hover {color: #e67e22; text-decoration:none;}

.carousel {
    height: 155px;
    margin-bottom: 30px;
}

.ant-timeline-item-tail {
    border-left: 2px solid #188fff5e;
}