.main-navigation {
    border-top: 1px solid #ebebee;
    margin-bottom: 20px;
    border-bottom: 2px solid #e1e1e1;
    background: #ffffff;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #505050;
    line-height: 4em;
    display: block;
    padding: 0 21px;
}

.menu li a:hover {
    color: #e67e22;
}

.navbar-collapse {
    display: none;
}

@media (min-width: 768px) {
    .navbar {
        display: block;
        height: auto!important;
        padding: 0;
    }
}

.navbar-header {
    display: none;
}

@media screen and (max-width: 767px){
    .navbar-header {
        display: block;
    }
}

.navbar-header i {
    height: 56px;
    line-height: 56px;
    font-size: 2em;
    cursor: pointer;
}

.hamburger-btn {
    float: right;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
}
