.main-navigation {
    border-top: 1px solid #ebebee;
    margin-bottom: 20px;
    border-bottom: 2px solid #e1e1e1;
    background: #ffffff;
}

.menu li {
    display: inline-block;
}

.menu li a {
    color: #505050;
    line-height: 4em;
    display: block;
    padding: 0 21px;
}

.menu li a:hover {
    color: #e67e22;
}

.navbar-collapse {
    display: none;
}

@media (min-width: 768px) {
    .navbar {
        display: block;
        height: auto!important;
        padding: 0;
    }
}

.navbar-header i {
    height: 56px;
    line-height: 56px;
    font-size: 2em;
    cursor: pointer;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.fa-bars::before{
    content: "\f0c9";
}